// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table-products {
    background: hsl(28, 44%, 49%);
    color: white;
    border-collapse: collapse;
    
    th, td {
        padding: 0.5rem;
    }

    a:link,a:visited {
        color: white;
    }

    a:hover, a:active {
        background-color: hsl(28, 44%, 79%);
    }

    thead {
        background: hsl(28, 44%, 32%);
    }
}